version: '3'
services:
  mysql:
    container_name: 'mysql-toby'
    image: mysql:8.0.27
    ports:
      - "13306:3306"
    volumes:
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./mysql/initdb.d:/docker-entrypoint-initdb.d
    env_file: ./mysql/.env
    restart: always
